*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #DFF2FE;
    padding: 4rem 1rem;
    display: flex;
}

h2{
    color: #2984D1;
    margin-bottom: 10px;
}

.container {
    background: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    width: 100%;
    max-width: 800px;
}

#chat-container {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.message_container{
    width: 100%;
    display: flex;
    gap: 10px;
}

.user_container{
    overflow-y: auto;
    background-color:#DFF2FE;
    border: solid 1px #ccc;
    height: 300px;
    max-height: 300px;
    min-width: 100px;
}

.user_list{
    list-style: none;
    padding: 5px;
}

.user_list__item{
    margin-bottom: 5px;
    color: #cccccc;
}

.user_list__item::before{
    content: "";
    display: inline-block; /* Hace que el círculo se comporte como un elemento en línea */
    width: 8px; /* Ancho del círculo */
    height: 8px; /* Alto del círculo */
    border-radius: 50%; /* Hace que el elemento sea un círculo */
    background-color: lightgray; /* Color de fondo del círculo */
    margin-right: 8px; /* Espacio entre el círculo y el texto */
    vertical-align: middle; /* Alinea verticalmente el círculo con el texto */
}

.user_list__item:hover{
    cursor: pointer;
}

.user_list_active{
    font-weight: bold;
    color:#1C69A8;
}

.user_list_active::before{
  background-color: lawngreen;
}

#messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: auto;
    background: white;
    width: 100%;
}

#input-area {
    margin-top: 10px;
    display: flex;
    gap: 5px;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 12px;
}

.logout {
    float: right;
    text-decoration: none;
    color: black;
}

.logout:hover {
    cursor: pointer;
    color: #2984D1;
}